<table class="table table-striped" st-pipe="vm.callServer" st-table="vm.displayed">
  <thead>
    <tr ng-show="!mc.isLoading">
      <th><st-select-all all="vm.displayed"></st-select-all></th>
      <th st-sort="{{column.name}}" ng-repeat="column in vm.table_columns">{{column.label}}</th> <!--  st-sort="{{column.name}}"  -->
    </tr>
  </thead>
  <tbody ng-show="!vm.isLoading">
    <tr ng-repeat="row in vm.displayed">
      <td cs-select="row"></td>
      <td ng-repeat="column in vm.table_columns">{{row[column.name] }}</td>
    </tr>
  </tbody>
  <tbody ng-show="vm.isLoading">
    <tr>
      <td colspan="{{vm.table_columns.length +1}}" class="text-center">Loading ... </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td class="text-center" colspan="{{vm.table_columns.length +1}}">
        <div st-pagination="" st-items-by-page="vm.itemsByPage"></div>
      </td>
    </tr>
  </tfoot>
</table>
